.main {
    padding: 20px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #888888;
}

.main h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

input {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}

input[type=submit] {
    font-family: 'Helvetica', serif;
    width: 100%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}

.cabecalho {
    background-color: #767474;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;}

.cabecalho h1 {
    color: white;
    font-family: 'Helvetica', serif;
}

.button {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica', serif;
    font-size: 20px;
    color: white;
    background-color: #767474;
    padding: 10px;
    border-radius: 10px;
}

.button:hover {
    background-color: #5a5a5a;
    color: white;

}
